<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MembersInterface">
	<resultMap type="members" id="members" />
	<resultMap type="board" id="board">
		<result property="bcontents" column="BCONTENTS" jdbcType="NCLOB" javaType="java.lang.String" /> 
		<result property="bdate" column="BDATE" jdbcType="DATE" javaType="java.sql.Date" /> 
	</resultMap>
	<resultMap type="al" id="al" />
	<resultMap type="Map" id="Map" />

	
	<!-- 회원가입 sql -->
	<insert id="memInsert" parameterType="members">
		INSERT INTO M VALUES(#{m_id}, #{m_nick}, #{m_pwd}, #{m_phone}, #{m_addr}, default, default)
	</insert>
	
	<!-- 로그인처리 sql -->
		<select id="getLoginResult" resultType="Integer" parameterType="Map">
		SELECT count(*) FROM M WHERE M_ID=#{id} AND M_PWD=#{pwd}
	</select>
	
	<select id="getMemberInfo" resultType="members" parameterType="java.lang.String">
		SELECT M_ID, M_NICK, M_PWD, M_PHONE, M_ADDR, M_POINT, M_AUTH FROM M WHERE M_ID=#{id}
	</select>
	<!-- 아이디중복체크 -->
	<select id="confirmId" resultType="Integer" parameterType="java.lang.String">
		SELECT count(*) FROM M WHERE M_ID=#{id}	
	</select>
	
	<!-- 게시판 처리 sql -->
		<!-- 
			ROWNUM 문제때문에 BOARD 테이블을 직접 사용하지 않고
			BLIST라는 뷰를 이용해 게시글을 얻는다.
		 -->
	<select id="getBoardList" resultType="board" parameterType="Integer">
		<![CDATA[
			SELECT * FROM BLIST WHERE B_NO>=#{pageNum}*10-9 AND B_NO<=#{pageNum}*10
		]]>
	</select>

	<select id="getPageCount" resultType="Integer">
		SELECT COUNT(*) FROM BLIST
	</select>

	<select id="getContents" resultType="board" parameterType="Integer">
		SELECT * FROM BLIST WHERE B_NUM=#{B_NUM}
	</select>
	
	<insert id="setContents" parameterType="board">	
		INSERT INTO BOARD VALUES(BOARD_SEQ.NEXTVAL, #{b_id}, #{b_sub},#{b_contents}, DEFAULT, DEFAULT)
	</insert>

	<delete id="delContents" parameterType="Integer">
		DELETE FROM B WHERE B_NUM=#{b_num}
	</delete>

	<update id="setContentsModi" parameterType="board">
		UPDATE BOARD SET B_SUB=#{b_sub}, B_CONTENTS=#{b_contents} WHERE B_NUM=#{b_num}
	</update>
</mapper>
